/* General Styling */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Slightly off-white background */
    color: #333;
}

/* Container (Main Layout) */
#app {
    margin: 20px auto; /* Adjusted margin for better spacing on mobile */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Article Creation Form */
#articleForm {
    display: flex;
    flex-direction: column;
}

#articleForm input[type="text"],
#articleForm input[type="url"],
#articleForm textarea {
    width: 85%; 
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-sizing: border-box;
    font-size: 16px;
}

#articleForm textarea {
    height: 200px; 
    resize: vertical;
}

/* Buttons */
#articleForm button,
#addSubtopic {
    padding: 12px 24px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
}

#articleForm button:hover,
#addSubtopic:hover {
    background-color: #0056b3; 
}

#articleForm button:disabled {
    background-color: #ccc;
    cursor: default;
}

/* Subtopic Styling */
.subtopic {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9; 
}

.subtopic .remove-subtopic {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

/* Word Count */
.word-count {
    font-size: 14px;
    margin-top: 10px;
}

.word-count.below-minimum {
    color: red;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #app {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    #articleForm input[type="text"],
    #articleForm input[type="url"],
    #articleForm textarea,
    #articleForm button,
    #addSubtopic {
        font-size: 14px; /* Slightly smaller font on smaller screens */
    }

    .subtopic {
        padding: 15px; /* Reduce padding in subtopic sections */
    }
}
